# .gitignore for Node module/NPM package projects.

# Section for OS generated stuff extracted from: https://gist.github.com/FullStackForger/20bbf62861394b1a3de0

# Node & NPM
node_modules/
package-lock.json

# JetBrains IDE files
.idea/

# OS generated stuff
.DS_Store
.Spotlight-V100
.Trashes
Icon
ehthumbs.db
Thumbs.db
